<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>岗位搜索</title>
		<!-- 引入样式 -->
		 <link rel="stylesheet" href="../../static/css/style.css" />
	    <link rel="stylesheet" href="../../static/css/index.css">
		<!-- 引入组件库 -->
		<script type='text/javascript' src='../../static/js/public/jquery-1.11.1.min.js'></script>
	    <script type='text/javascript' src='../../static/js/public/jquery.particleground.min.js'></script>
		<script src="../../static/js/vue/vue.js"></script>
         <script type="text/javascript" src="../../static/js/vue/index.js"></script>
		<style>
			HTML { OVERFLOW:auto }
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.el-select .el-input {
				width: 110px;
			}
			li {
				line-height: normal;
				padding: 7px;
			}
			.name {
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.addr {
				font-size: 12px;
				color: #b4b4b4;
			}
			.highlighted .addr {
				color: #ddd;
			}
			.item{
				border: 1px #FFF solid;
			}

			.time {
			    font-size: 13px;
			    color: #999;
			  }

			  .bottom {
			    margin-top: 13px;
			    line-height: 12px;
			  }

			  .button {
			    padding: 0;
			    float: right;
			  }

			  .image {
			    width: 30%;
			    display: block;
			  }

			  .clearfix:before,
			  .clearfix:after {
			      display: table;
			      content: "";
			  }
			  .clearfix:after {
			      clear: both
			  }
		</style>
	</head>
	<body>


	<div class="intro" style="top: 40px;">
		<div id="app">
			<h2>职位列表</h2>
			<el-button style="margin-top: -145px;margin-left: 300px" type="danger" plain v-on:click="vreturn">返回</el-button>


			<el-dialog title="详细信息" :visible.sync="dialogFormVisible" width="92%" center>
				<div>
					 <span style="font-weight: bold;">公司名称:</span> <span>${form.name}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">公司规模:</span> <span>${form.size}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">融资情况:</span> <span>${form.finance}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">岗位名称:</span> <span>${form.pName}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">经验要求:</span> <span>${form.exp}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">学历要求:</span> <span>${form.education}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">薪资待遇:</span> <span>${form.salary}</span>
				</div>
				<div>
					 <span style="font-weight: bold;">工作地点:</span> <span>${form.city}</span>
				</div>
				  <span slot="footer" class="dialog-footer">
				    <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
				  </span>
			</el-dialog>

			<div style="margin-top: 10px;" v-for="item in names">
			    <el-card style="padding: 0px;">
			      <div style="padding: 2px;">
			      	<div style="text-align: center;">
			      		<span>${item.name}</span>
			      	</div>
			        <div style="text-align: left;margin-top: 15px;">
			      		<span style="font-weight: bold;">岗位:&nbsp;&nbsp;</span>
			   			<span>${item.pName}</span>
			      	</div>
			        <div style="text-align: left;margin-top: 15px;">
			      		<span style="font-weight: bold;">薪资:&nbsp;&nbsp;</span>
			   			<span>${item.salary}</span>
			      	</div>
			        <div class="bottom clearfix" style="text-align: left;margin-top: 15px;">
			          <span style="font-weight: bold;">编号:&nbsp;&nbsp;</span>
			          <time class="time">${item.pId}</time>
			          <el-button type="text" class="button" v-on:click="detail(item.name, item.pName)">查看详情</el-button>
			        </div>
			      </div>
			    </el-card>
			</div>


		</div>



	</div>
</body>
<script>

	var tmp =  new Vue({
			delimiters: ['${', '}'],
			el: '#app',
			data: {
			    dialogFormVisible: false,
				form:{
			        name:'',
					pName:'',
					size:'',
					finance:'',
					education:'',
					exp:'',
					advance:'',
					city:'',
					salary:'',
				},
				city:'',
				position: '',
{#				exp:'',#}
{#				situation:'',#}
				Exps: [{
			          value: '不限',
			          label: '不限'
			        }, {
			          value: '1-3年',
			          label: '1-3年'
			        }, {
			          value: '3-5年',
			          label: '3-5年'
			        }, {
			          value: '5-10年',
			          label: '5-10年'
			        }],
			    Situations: [{
			          value: '不限',
			          label: '不限'
			        }, {
			          value: '未融资',
			          label: '未融资'
			        }, {
			          value: '天使轮',
			          label: '天使轮'
			        }, {
			          value: 'A轮',
			          label: 'A轮'
			        }, {
			          value: 'B轮',
			          label: 'B轮'
			        }, {
			          value: '上市公司',
			          label: '上市公司'
			        }],
				names:[],
				},
				methods:{
			        getObjData:function () {
				        $.ajax({
				                url : '../positionList',
				                type : 'get',
				                success : function(data) {
			                    var detail = data.detail
			                    tmp.names = detail.pList
				                console.log(detail)
			                },
			                dataType : 'json',
			            })
                    },
		            detail: function (arg1, arg2) {
			            $.ajax({
				                url : '../positionDetail',
				                type : 'post',
				                data:{
				                        name:arg1,
					                    pName:arg2,
				                },
				                success : function(data) {
			                    var detail = data.detail
								tmp.form.name = detail.name
				                tmp.form.finance = detail.finance
				                tmp.form.pName = detail.pName
				                tmp.form.exp = detail.exp
				                tmp.form.education = detail.education
				                tmp.form.salary = detail.salary
				                tmp.form.size = detail.size
				                tmp.form.advance = detail.advance
				                tmp.form.city = detail.city
				                console.log(detail)
			                },
			                dataType : 'json',
			            })
			            tmp.dialogFormVisible = true
                    },

					search:function () {
						var city = tmp.city;
						var position = tmp.position;
						var exp = tmp.exp;
						var situation = tmp.situation;
						$.ajax({
				                url : '../positionDetail',
				                type : 'post',
				                data:{
			                        city:city,
				                    position:position,
					                exp:exp,
					                situation:situation,
				                },
				                success : function(data) {
				                    var detail = data.detail
					                if(data.result==true){
				                        tmp.names = detail.pList
				                        console.log(detail)
					                }
				                },
				                dataType : 'json',
				            })
                    },
				vreturn:function () {
				 window.location.href = "{{ url_for('uservSearch') }}"
                }
				},
				mounted:function () {
						this.getObjData()
                }

		})
	</script>
</html>
