<!doctype html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="utf-8" /> 
  <title></title> 
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="../../static/css/style.css" />
  <link rel="stylesheet" href="../../static/css/vue/index.css">
  <script type='text/javascript' src='../../static/js/public/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='../../static/js/public/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='../../static/js/demo.js'></script>
  <script type="text/javascript" src="../../static/js/vue/vue.js"></script>
  <script type="text/javascript" src="../../static/js/vue/index.js"></script>
  <style>
	  .el-row {  
	    margin-bottom: 5px;  
	    &:last-child {  
	      margin-bottom: 0;  
	    }  
	  }  
	  #visitor{
	  	background: none;
	  	color: #FFFF00;
	  }
  </style>
</head> 

<body>

<div id="particles">
	<div class="intro" style="top: 260px;">
		<h1>求索</h1>
		<div id="app" class="login-box" style="margin-top: 15px;">
		  	<el-row>
			  	<el-col :span="18" :offset="3">
			  		<div class="demo-input-suffix">
				  		<el-input id="username" placeholder="请输入内容" v-model="username" clearable>
						    <template slot="prepend">账号</template>
						</el-input>
			  		</div>
			  	</el-col>
			</el-row>
			<el-row>
			  	<el-col :span="18" :offset="3">
			  		<div class="demo-input-suffix">
				  		<el-input id="password" placeholder="请输入内容" type="password" v-model="password" clearable>
						    <template slot="prepend">密码</template>
						</el-input>
			  		</div>
			  	</el-col>
			</el-row>
			<el-row>  
			    <el-col :span="8" :offset="3">  
			        <el-button id="login" v-on:click="check" style="width:100%;margin-top: 5px;" type="primary">登录</el-button>
			    </el-col>  
			     <el-col :span="8" :offset="2">  
			        <el-button id="register" v-on:click="gotoRegister" style="width:100%;margin-top: 5px;" type="warning">注册</el-button>
			    </el-col>  
			</el-row>  
			<el-row>  
			    <el-col :span="8" :offset="8">  
			   		<el-button id="visitor" style="width:100%;margin-top: 10px;" type="success" round>游客登录</el-button>
			    </el-col>  
			</el-row> 
		</div>	
		<p style="font-size: 12px;">用数据来阐述变迁</p>
		
	</div>
</div>

</body> 
<script>
  new Vue({
    el : '#app',
    data : {
        username : '',
        password : ''
    },
    methods : {
        check : function(event){
            //获取值
            var username = this.username;
            var password = this.password;
            if(username == '' || password == ''){
                this.$message({
                    message : '账号或密码为空！',
                    type : 'error'
                })
                return;
            }
            $.ajax({
                url : '../login',
                type : 'post',
                data : {
                    username : username,
                    password : password
                },
                success : function(data) {
                    var result = data.result;
                    var URL = data.url;
                    if(result == true && URL){
                         window.location.href = URL
                    }else{
                        alert("用户名或密码错误");
                    }
                },
                dataType : 'json',
            })
        },
        gotoRegister:function () {
             window.location.href = "{{ url_for('userregister') }}"
        },
    }
})
{#	var cc = new Vue({#}
{#			el: '#app',#}
{#			data: {#}
{#				username:"",#}
{#				password:"",#}
{#				input5: 5,#}
{#				select: '',#}
{#			},#}
{#			methods:{#}
{#				getNumber: function (b) {#}
{#		          document.location = 'http://www.'+b+'.com'  // 不管是内联方法调用，还是绑定事件处理器两种方式执行事件响应方法的时候 this都是指向 app#}
{#		        }#}
{#			}#}
{#	})#}
</script>
</html> 