<!DOCTYPE html>
<html>
	<head>
	  	<meta charset="utf-8" /> 
	  	<title></title> 
	  	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	  	<meta name="apple-mobile-web-app-capable" content="yes">
	  	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <link rel="stylesheet" href="../../static/css/style.css" />
	  <link rel="stylesheet" href="../../static/css/index.css">
	  <script type='text/javascript' src='../../static/js/public/jquery-1.11.1.min.js'></script>
	  <script type='text/javascript' src='../../static/js/public/jquery.particleground.min.js'></script>
	  <script type='text/javascript' src='../../static/js/demo.js'></script>
		<script src="../../static/js/vue/vue.js"></script>
         <script type="text/javascript" src="../../static/js/vue/index.js"></script>
	 	<script src="../../static/js/echarts.min.js"></script>
		<script src="../../static/js/bmap.min.js"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>
		<style>
			HTML { OVERFLOW:auto }
		  .el-aside {
		    background-color: #D3DCE6;
		    color: #333;
		    height: 100%;
		    text-align: center;
		    line-height: 200px;
		  }
		  
		  .el-main {
		    background-color: #E9EEF3;
		    color: #333;
		    height: 100%;
		    text-align: center;
		    line-height: 160px;
		  }
		  .intro {
			  position: absolute;
			  left: 0;
			  top: 500px;
			  padding: 0 20px;
			  width: 100%;
			  text-align: center;
			}
			/*自动换行*/
		  .sa{ 
		  	table-layout: fixed;
		  	 word-wrap: break-word; 
		  	 word-break: break-all;
		  }
			.tleft{
				text-align: left;
			}
		</style>	
	</head>
	
	<body>
		<div id="">

			<div id="app">
					<el-dialog
					  title="提示"
					  :visible.sync="centerDialogVisible"
					  width="80%"
					  center>
					  <span>以下信息由本平台经数据分析得出仅供参考</span>
					  <span slot="footer" class="dialog-footer">
					    <el-button type="primary" @click="init">确 定</el-button>
					  </span>
					</el-dialog>
				<div class="intro" >
					<div class="sa" style="margin-top: 1150px">
						<h2>${title}职业分析报告</h2>
						<el-button style="margin-top: -145px;margin-left: 300px" type="danger" plain v-on:click="ureturn">返回</el-button>
					</div>

					<div class="sa" >
						<p style="font-size: 16px;">近年来中国互联网普及情况</p>
					</div>
					<div id="contentx" style="width: 330px;height: 300px;"></div>
								<div class="tleft" >
									<p style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;${content0}</p>
								</div>


					<p>互联网职位分布大类如下：</p>
					<div id="sub" style="width: 330px;height: 300px;"></div>
								<div class="tleft" >
									<p style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;${content1}</p>
								</div>

					<p>职位取样分布</p>
					<div id="citymap" style="width: 330px;height: 300px;"></div>
					<div id="map" style="width: 330px;height: 300px;"></div>

					<br>
					<p>${title}近年来各城市平均工资：</p>
					<div id="contents" style="width: 330px;height: 300px;"></div>
{#									<div class="sa" >#}
{#										<p style="font-size: 15px;">近年来中国互联网普及情况近年来中国互联网普及情况近年来中国互联网普及情况近年来中国互联网普及情况</p>#}
{#									</div>#}
					<p>${title}福利待遇常见关键词：</p>
					<div id="advance" style="width: 330px;height: 300px;"></div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var cc = new Vue({
			delimiters: ['${', '}'],
			el: '#app',
			data: {
			    centerDialogVisible: true,
				title:"",
				content0:"根据来自（CNNIC）中国互联网信息中心发布的第41期《中国互联网发展状况统计报告》显示，至2017年12月为止，我国网民规模已达7.72亿，互联网普及率达55.8%，相较于全球平均水平还要高出4.1个百分点，对比亚洲平均水平超出9.1个百分点，截止至今，我国的网民规模数量还在继续保持稳定的增长。",
				content1:"互联网行业中的岗位按照各自的职能需求划分为五个维度：市场、行政、运营、产品、技术，相互间协调运作构成互联网行业的岗位基础。",
				xia:[],
				bei:[],
				shang:[],
				guang:[],
				shen:[],
				pN:[],
			},
			methods:{
			    getObjData:function () {
				        $.ajax({
			                url : '../reportInfo',
			                type : 'get',
			                success : function(data) {
		                    var detail = data.detail;
		                    var result = data.result;
		                    cc.xia = detail.x
			                cc.bei = detail.b
			                cc.shang = detail.s
			                cc.guang = detail.g
			                cc.shen = detail.s1
				            cc.title = detail.title
				            cc.pN = detail.pN
			                console.log(detail.title)
		                },
		                dataType : 'json',
		            })
                },
			    init:function (event) {
			        this.centerDialogVisible = false
			        var b = this.bei;
		            var s = this.shang;
		            var g = this.guang;
		            var s1 = this.shen;
		            var x = this.xia;
					var pN = this.pN;
			        var myChart = echarts.init(document.getElementById('contentx'));
			        option = {
					    tooltip: {
					        trigger: 'axis',
					    },
					    legend: {
					        data:['网民数目','互联网普及率']
					    },
					    xAxis: [
					        {
					            type: 'category',
					            data: ['2013','2014','2015','2016','2017'],
					            axisPointer: {
					                type: 'shadow'
					            }
					        }
					    ],
					    yAxis: [
					        {
					            type: 'value',
					            name: '亿人',
					            min: 0,
					            max: 8,
					            interval: 1,
					            axisLabel: {
					                formatter: '{value} '
					            }
					        },
					        {
					            type: 'value',
					            name: '普及率',
					            min: 0,
					            max: 100,
					            interval: 20,
					            axisLabel: {
					                formatter: '{value} %'
					            }
					        }
					    ],
					    series: [
					        {
					            name:'网民数目',
					            type:'bar',
					            data:[6.1758, 6.4875, 6.8826, 7.3125, 7.7198]
					        },
					        {
					            name:'互联网普及率',
					            type:'line',
					            yAxisIndex: 1,
					            data:[ 45.8, 47.9, 50.3, 53.2, 55.8]
					        }
					    ]
					};
			        myChart.setOption(option);

			        var myChart1 = echarts.init(document.getElementById('sub'));
					var option1 = {
					    series: {
					        title: {
			                text: '互联网职位分布大类如下：'
			            },
					        type: 'sunburst',
					        data: [{
					            name: '技术',
					            value: 1,
					        }, {
					            name: '产品',
					            value: 1
					        }, {
					            name: '运营',
					            value: 1
					        }, {
					            name: '行政',
					            value: 1
					        }, {
					            name: '市场',
					            value: 1
					        }]
					    }
					};
			        myChart1.setOption(option1);

					var myChart5 = echarts.init(document.getElementById('citymap'));
					var data = [

					     {name: '上海', value: 55},

					     {name: '厦门', value: 26},

					     {name: '广州', value: 48},

					     {name: '深圳', value: 73},

					     {name: '北京', value: 79},

					];
					var geoCoordMap = {

					    '上海':[121.48,31.22],

					    '厦门':[118.1,24.46],

					    '广州':[113.23,23.16],

					    '深圳':[114.07,22.62],

					    '北京':[116.46,39.92],

					};
					var convertData = function (data) {
					    var res = [];
					    for (var i = 0; i < data.length; i++) {
					        var geoCoord = geoCoordMap[data[i].name];
					        if (geoCoord) {
					            res.push({
					                name: data[i].name,
					                value: geoCoord.concat(data[i].value)
					            });
					        }
					    }
					    return res;
					};
					var option5 = {
					    title: {
					        text: '基础信息样本分布 - 百度地图',
						    textStyle: {color:'#FFF'},
					        subtext: 'data from lagou',
					        sublink: 'http://www.lagou.com',
					        left: 'center'
					    },
					    tooltip : {
					        trigger: 'item'
					    },
					    bmap: {
					        center: [104.114129, 35.550339],
					        zoom: 4.5,
					        roam: true,
					        mapStyle: {
					            styleJson: [{
					                        "featureType": "water",
					                        "elementType": "all",
					                        "stylers": {
					                            "color": "#044161"
					                        }
					                    },
					                    {
					                        "featureType": "land",
					                        "elementType": "all",
					                        "stylers": {
					                            "color": "#004981"
					                        }
					                    },
					                    {
					                        "featureType": "boundary",
					                        "elementType": "geometry",
					                        "stylers": {
					                            "color": "#064f85"
					                        }
					                    },
					                    {
					                        "featureType": "railway",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "highway",
					                        "elementType": "geometry",
					                        "stylers": {
					                            "color": "#004981"
					                        }
					                    },
					                    {
					                        "featureType": "highway",
					                        "elementType": "geometry.fill",
					                        "stylers": {
					                            "color": "#005b96",
					                            "lightness": 1
					                        }
					                    },
					                    {
					                        "featureType": "highway",
					                        "elementType": "labels",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "arterial",
					                        "elementType": "geometry",
					                        "stylers": {
					                            "color": "#004981"
					                        }
					                    },
					                    {
					                        "featureType": "arterial",
					                        "elementType": "geometry.fill",
					                        "stylers": {
					                            "color": "#00508b"
					                        }
					                    },
					                    {
					                        "featureType": "poi",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "green",
					                        "elementType": "all",
					                        "stylers": {
					                            "color": "#056197",
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "subway",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "manmade",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "local",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "arterial",
					                        "elementType": "labels",
					                        "stylers": {
					                            "visibility": "off"
					                        }
					                    },
					                    {
					                        "featureType": "boundary",
					                        "elementType": "geometry.fill",
					                        "stylers": {
					                            "color": "#029fd4"
					                        }
					                    },
					                    {
					                        "featureType": "building",
					                        "elementType": "all",
					                        "stylers": {
					                            "color": "#1a5787"
					                        }
					                    },
					                    {
					                        "featureType": "label",
					                        "elementType": "all",
					                        "stylers": {
					                            "visibility": "off"
					                    }

					            }]
					        }
					    },
					    series : [

					        {
					            name: '样本数',
					            type: 'effectScatter',
					            coordinateSystem: 'bmap',
					            data: convertData(data.sort(function (a, b) {
					                return b.value - a.value;
					            }).slice(0, 5)),
					            symbolSize: function (val) {
					                return val[2] / 3;
					            },
					            showEffectOn: 'render',
					            rippleEffect: {
					                brushType: 'stroke'
					            },
					            hoverAnimation: true,
					            label: {
					                normal: {
					                    formatter: '{b}',
					                    position: 'left',
					                    show: true
					                }
					            },
					            itemStyle: {
					                normal: {
					                     color: '#f4e925',
					                    shadowBlur: 10,
					                    shadowColor: '#333'
					                }
					            },
					            zlevel: 1
					        }
					    ]
					};
					 myChart5.setOption(option5);

				    var myChart3 = echarts.init(document.getElementById('map'));
				    var option3 = {
					    color: ['#d6d8a5'],
					    tooltip : {
					        trigger: 'axis',
					        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
					        }
					    },
					    grid: {
					        left: '3%',
					        right: '4%',
					        bottom: '3%',
					        containLabel: true
					    },
					    xAxis : [
					        {
					            type : 'category',
					            data : ['厦门', '北京', '上海', '广州', '深圳'],
					            axisTick: {
					                alignWithLabel: true
					            }
					        }
					    ],
					    yAxis : [
					        {
					            type : 'value'
					        }
					    ],
					    series : [
					        {
					            name:'岗位样本数',
					            type:'bar',
					            barWidth: '60%',
					            data:pN
					        }
					    ]
					};
				    myChart3.setOption(option3);

				    var myChart4 = echarts.init(document.getElementById('advance'));
				    var option4 = {
					    color: ['#b6dda5'],
					    tooltip : {
					        trigger: 'axis',
					        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
					        }
					    },
					    grid: {
					        left: '3%',
					        right: '4%',
					        bottom: '3%',
					        containLabel: true
					    },
					    xAxis : [
					        {
					            type : 'category',
					            data : ['五险', '双休', '扁平化', '股权', '弹性'],
					            axisTick: {
					                alignWithLabel: true
					            }
					        }
					    ],
					    yAxis : [
					        {
					            type : 'value'
					        }
					    ],
					    series : [
					        {
					            name:'统计数目',
					            type:'bar',
					            barWidth: '60%',
					            data:[4525,2321,1582,652,3021]
					        }
					    ]
					};
				    myChart4.setOption(option4);

			        var myChart2 = echarts.init(document.getElementById('contents'));
			        var option2 = {
					    tooltip: {
					        trigger: 'axis',
					    },
					    legend: {
					        data:['厦门','北京','上海','广州','深圳']
					    },
					    xAxis: [
					        {
					            type: 'category',
					            data: ['不限','1-3年','3-5年','5-10年'],
					            axisPointer: {
					                type: 'shadow'
					            },
					            axisLabel: {
					                formatter: '{value} '
					            }
					        }
					    ],
					    yAxis: [
					        {
					            type: 'value',
					            name: '工资',
					            min: 0,
					            max: 50,
					            interval: 5,
					            axisLabel: {
					                formatter: '{value}k '
					            }
					        }
					    ],
					    series: [
					        {
					            name:'厦门',
					            type:'bar',
					            data:x
					        },
					         {
					            name:'北京',
					            type:'bar',
					            data:b
					        },
					         {
					            name:'上海',
					            type:'bar',
					            data:s
					        },
					         {
					            name:'广州',
					            type:'bar',
					            data:g
					        },
					         {
					            name:'深圳',
					            type:'bar',
					            data:s1
					        }
					    ]
					};
			        myChart2.setOption(option2);
                },
				ureturn:function () {
				 window.location.href = "{{ url_for('userSearch') }}"
	            },
			},
			mounted:function () {
			    this.getObjData()

            }
	})
	</script>

</html>
