{% extends 'admin/master.html' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>User</title>
	{% block head_css %}
	{{ super() }}
	{% endblock head_css %}
	<link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="../../static/css/vue/index.css"></script>
	<script src="../../static/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="../../static/js/tinymce_setup.js"></script>
	<script src="../../static/js/echarts.min.js"></script>
	<script src="../../static/js/vue/vue.js"></script>
<style>
	.bo{
		border: 1px #6f7180 solid;
	}
	.content{
		padding-bottom: 5px;
		padding-top: 5px;
		width: 300px;
	}
</style>
</head>
<body>
	<div style="width: 100%;display: inline-flex">
		<div class="bo" style="width: 55%;padding: 10px;display: block">
			<h4 style="text-align: center;margin-bottom: 18px">系统通知</h4>
				<form action="/send" method="post">
				<div>
					<span>邮件主题:</span>
					<input id="title" type="text" name="title">
				</div>
				<div>
					<span>邮件类型:</span>
					<select id="select" name="select">
						<option value="0">系统通知</option>
						<option value="1">活动公告</option>
					</select>
				</div>
				<div style="padding-bottom: 5px">
					<span>邮件内容:</span>
					<textarea id="content" class="content" type="text"  name="content"></textarea>
				</div>
				<input type="submit" value="全员通知">
			</form>
		</div>


		<div class="bo" style="width: 41%;margin-left: 1%;padding: 10px">
			<div id="contentx" style="height: 350px;"></div>
		</div>
	</div>
<script type="text/javascript">
		function check() {
			 $.ajax({
                    url: '../login',
                    type: 'post',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function (data) {
                        var result = data.result;
                        var URL = data.url;
                        if (result == true && URL) {
                            window.location.href = URL
                        } else {
                            alert("用户名或密码错误");
                        }
                    },
                    dataType: 'json',
                })
        }



        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('contentx'));

        // 指定图表的配置项和数据
        option = {
            title:{
                text:"近期登录情况"
            },
		    xAxis: {
		        type: 'category',
		        data: ['5/25', '5/26', '5/27', '5/28', '5/29']
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [{
		        data: [1, 0, 0, 1, 2],
		        type: 'line'
		    }]
		};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>

</body>




{% endblock body %}
